@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;800&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Bhaina 2';
    background-color: #eee;
}

.App{
    display:flex;
    flex-direction:column;
    align-items: center;
   
    
}

div{
    display:flex;
    flex-direction:column;
    align-items: center;
}

img{
    width: 150px;
}

button{
    font-family: 'Baloo Bhaina 2';
    margin: 2px;
    text-decoration: none;
    padding: 1px 8px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 5px;
    border: 1px solid #1883ba;
}